<% if post.comments_counter == 0 %>
  <p>This post does not have any comments</p>
<% else %>
  <div class="card" style="width: 50vw;">
    <ul class="list-group list-group-flush">
      <% comments.each do |comment|%>
      <li class="list-group-item"><%= comment.text %></li>
      <% end %>
    </ul>
  </div>
<% end %>