<div class="card text-center">
  <div class="card-header">
    <%= post.title %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= post.text %></p>
    <a href="#" class="btn btn-primary">View Post</a>
  </div>
  <div class="card-footer text-muted">
    <p class="card-text"><small class="text-muted">Comments: <%= post.comments_counter %></small></p>
    <p class="card-text"><small class="text-muted">Likes: <%= post.likes_counter %></small></p>
  </div>
</div>