<h1>Here is the list of all Users</h1>

<div class="users-list">
    <% @users.order(posts_counter: :DESC).each do |user| %>
        <%= render partial: "shared/user/user_header", locals: { user: user } %>
    <% end %>
</div>

