<%= render partial: "shared/user/user_header", locals: { user: @user } %>
<%= render partial: "shared/user/user_bio", locals: { user: @user } %>

<h2>Most Recent Posts </h2>

<% @recent_posts.each do |post| %>
  <%= render partial: "shared/post/post_card", locals: { post: post } %>
<% end %>

<%= link_to "See all posts" , user_posts_path(@user) if @user.posts_counter> 0 %>

