<%= @posts.first.author.name %>'s Posts 
<%= render partial: "shared/user/user_header", locals: { user: @posts.first.author } %>

<% @posts.order(comments_counter: :DESC).each do |post| %>
  <div>
    <%= render partial: "shared/post/post_card", locals: { post: post } %>
    <%= render partial: "shared/post/comment_card", locals: { post: post, comments: post.last_five_comments} %>
  </div>
<% end %>